  <div class="contact-us" id="contato">    
<div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="contact-head text-center">Pets encontrados</h2>
          <h4 class="contact-p text-center">Estes são os pets encontrados para o seu perfil, caso você queira mudar algum dado clique na opção limpar filtros.</h4>
        </div>
      </div>
 

<div class="home_runs  col-md-12 " >
<div class="home_run col-md-8 col-md-offset-1 " >
                    
                    <div class="home_run_description  ">
                    <!-- Talvez dividir os itens em duas linhas -->
                    <ul class="home_run_description_list  ">
		<li class="home_rdl_user home_rdl_item">
                        <span class="fa fa-user"/> <b> Nome:</b> Max
                    </li>                   

		    <li class="home_rdl_idade home_rdl_item">
                        <span class="fa fa-calendar"/> <b> Idade:</b> 12 anos
                    </li>
		      <li class="home_rdl_raca home_rdl_item">
                        <span class="fa fa-info"></span><b> Raça:</b> Golden
                    </li> 
                    <li class="home_rdl_saude home_rdl_item">
                   <span class="fa fa-heart" /><b> Saúde:</b> saudável  </li>
                    </ul>
                    </div>
                    <div class="home_run_post ">
                         O max é muito legal e divertido ele é supimpa
O max é muito legal e divertido ele é supimpaO max é muito legal e divertido ele é supimpaO max é muito legal e divertido ele é supimpaO max é muito legal e divertido ele é supimpaO max é muito legal e divertido ele é supimpaO max é muito legal e divertido ele é supimpaO max é muito legal e divertido ele é supimpaO max é muito legal e divertido ele é supimpaO max é muito legal e divertido ele é supimpaO max é muito legal e divertido ele é supimpaO max é muito legal e divertido ele é supimpaO max é muito legal e divertido ele é supimpaO max é muito legal e divertido ele é supimpaO max é muito legal e divertido ele é supimpaO max é muito legal e divertido ele é supimpaO max é muito legal e divertido ele é supimpa
                        </div>
	        <div class="home_run_submit"> 
		<button  type="submit" class="btn btn-success"> <b>Adotar</b> </button>	
		 <button  type="submit" class="btn btn-success"> <b>Limpar filtros</b> </button>	
	</div>
                    <div class="home_run_image ">
<!--                <a href = "/jogos/ jogada.jogo.id"><img  class="img-thumbnail " src="data:image/jpg;base64, jogada.jogo.imagem "></a>-->
             <img class="img-thumbnail" src="http://tudosobrecachorros.com.br/wp-content/uploads/cachorro-independente.jpg"> 

            </div>
           </div>

<div class="home_run col-md-8 col-md-offset-1 " >

                    <div class="home_run_description  ">
                    <!-- Talvez dividir os itens em duas linhas -->
                    <ul class="home_run_description_list  ">
                <li class="home_rdl_user home_rdl_item">
                        <span class="fa fa-user"/> Nome: Mx
                    </li>

                    <li class="home_rdl_idade home_rdl_item">
                        <span class="fa fa-calendar"/> Idade: 12 anos
                    </li>
                      <li class="home_rdl_raca home_rdl_item">
                        <span class="fa fa-info"></span>Raça: Golden
                    </li>
                    <li class="home_rdl_saude home_rdl_item">
                   <span class="fa fa-heart" />Saúde: saudável  </li>
                    </ul>
                    </div>
                    <div class="home_run_post ">
                         O max é muito legal e divertido ele é supimpa
                        </div>
                <div class="home_run_submit">
                <button  type="submit" class="btn btn-success"> Adotar </button>
                </div>
                    <div class="home_run_image ">
<!--                <a href = "/jogos/ jogada.jogo.id"><img  class="img-thumbnail " src="data:image/jpg;base64, jogada.jogo.imagem "></a>-->
             <img class="img-thumbnail" src="http://tudosobrecachorros.com.br/wp-content/uploads/cachorro-independente.jpg">

            </div>
           </div>
 </div>
</div>
</div>
</div>
</div>
</div>
</div>        

</div>

