
    
     <div class="contact-us" id="contato">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="contact-head text-center">Aliste um pet</h2>
          <h4 class="contact-p text-center">Encontrou um cachorrinho perdido na rua ou não consegue mais cuidar do seu pet, então aliste-o para que alguém entre em contato com você, para então adotar o pet :)</h4>

        </div>
        <div class="col-md-8 col-md-offset-2">
          <form>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="name">Seu nome</label>
                  <input id="nome" type="text" class="form-control">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input id="email" type="text" class="form-control">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="cachorronome">Nome do Cachorrinho</label>
                  <input id="cachorronome" type="text" class="form-control">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="raca">Raça</label>
                  <input id="raca" type="text" class="form-control">
                </div>
              </div>
                <div class="col-sm-6">
                <div class="form-group">
                  <label for="raca">Link da imagem do pet na Internet</label>
                  <input id="raca" type="text" class="form-control">
                </div>
              </div>
                
                
                <div class="col-sm-6">
                <div class="form-group">
                  <label for="raca">Upload da imagem do seu computador</label>
                  <input id="raca" type="text" class="form-control">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="observacoes">Observações sobre o pet </label>
                  <textarea id="observacoes" class="form-control input-lg"></textarea>
                </div>
              </div>
              <div class="col-sm-12 text-center">
                

              </div>
                <div class="col-sm-6">
                <div class="form-group">
                  <label for="idade">Idade do pet</label>
                     <select id="idade" class="form-control">
                    <option>Menos que 2 anos</option>
                    <option>De 2 a 7 anos</option>
                         <option>De 7 a 10 anos</option>
                         <option>Mais de 10 anos</option>
                    
      </select>
                </div>
              </div>
                <div class="col-sm-6">
                <div class="form-group">
                  <label for="tamanho">Tamanho</label>
                    <select id="idade" class="form-control">
                    <option>Mini/pequeno  - Exemplo: pug, yorkshire, shih-tzu</option>
                    <option>Médio - Exemplo: beagle, bulldog francês, border collie</option>
                    <option>Grande/gigante - Exemplo: dálmata, husky, labrador</option>
                    </select>
                  
                </div>
              </div>
                
                
  <div class="col-lg-6">
      <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" >
      </span>
      <input type="text" class="form-control" placeholder="Late/chora muito ?" disabled>
    </div><!-- /input-group -->
      </div>
  </div><!-- /.col-lg-6 -->
                
<div class="col-lg-6">
    <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" >
      </span>
      <input type="text" class="form-control" placeholder="O pet te segue ?" disabled >
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div>

<div class= "col-lg-6">
    <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" >
      </span>
      <input type="text" class="form-control" placeholder="O pet fica agitado quando você está saindo ?" disabled>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
                </div>
  <div class="col-lg-6">
      <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" >
      </span>
      <input type="text" class="form-control" placeholder="Rosna/Late para estranhos ?" disabled>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
                </div>
                
<div class="col-lg-6">
    <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" >
      </span>
      <input type="text" class="form-control" placeholder="Já avançou em alguém sem motivos ?" disabled>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div>
    <div class="col-lg-6">
<div class="form-group">
        <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" >
      </span>
      <input type="text" class="form-control" placeholder="O pet possui problemas de saúde  ?" disabled>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div>
                
                
                <div class="formsend">
                  <button type="submit" class="btn btn-block"> Cadastrar </button>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
    
    
