<%= provide(:title, 'Home')%>
<div class="wag-header" id="home">
  <div class="container">
    <div class="col-md-12">

      <h1 class="wag-intro text-center">Dê um novo lar a um novo amigo</div>
    <div class="col-md-8 col-md-offset-2">
      <p class="wag-explain text-center"></p>

      <div class="wag-buttons text-center">
        <ul class="list-inline">
          <li><a class="btn" href="busca.html" role="button">Acolha</a></li>
          <li><a class="btn" href="petcadastro.html" role="button">Aliste um Pet</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>

<div id="about-us">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-12">
        <h2 class="about-header text-center">Quem somos nós</h2>
      </div>
      
        
      <div class="col-md-6">
        <h3 class="about-h3"><strong>Acolha um amigo é um projeto que visa diminuir o número de abandono de animais.</strong></h3>
        <P class="about-p"><strong>O abandono animal é um problema atual da sociedade. Os motivos são diversos: animal teve cria, donos não conseguem mais cuidar, mudança de residência, etc. Muitas instituições os acolhem, mas enfrentam problemas de superlotação. Além disso, toda a divulgação de animais para adoção é dispersa (por meio de redes sociais, páginas específicas das instituições, dentre outros), o que por sua vez dificulta as buscas. </strong></P>
         <P class="about-p"><strong>Acolha um amigo é um projeto que visa a criação de uma plataforma unificada para divulgação de animais para adoção. Nessa plataforma, instituições e pessoas que recolhem animais podem divulgar os mesmos, de forma unificada.</strong> </P>
       
      </div>
      
      <div class="col-md-6">
        <img class="pretty-gurl img-responsive" src="http://gdurl.com/ClMK">
      </div>
    
  </div>
</div>
</div>

<div class="services-section" id="missao">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 id="head1">Missão</h2>
      </div>
      <div class="col-md-offset-2 col-md-8 text-center">
        <h4 class="phead">Acolha um amigo é uma plataforma voltada à divulgação de animais paraadoção. Será possível realizar buscas de animais, baseadas nas características de quem deseja adotar e do animal a ser adotado
        </h4>
      </div>


      <div class="col-md-4">
        <div class="awesome">
          <i class="fa fa-home fa-4x"></i>
        </div>
        <h3><strong>Adote</strong></h3>
        <p><strong>Adotar  é dar um novo lar aos bichinhos e você ainda ganha novos amigos.</strong>
        </p>
        <div class="serv-ice">
          <a class="btn btn-lg" href="busca.html" role="button">Acolha</a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="awesome">
          <i class="fa fa-futbol-o fa-4x"></i>
        </div>
        <h3><strong>Qual o animal ideal ?</strong></h3>
        <p><strong>Através de uma inteligencia artificial nos traçamos o perfil ideal de cachorro para você ! </strong>
        </p>
        <div class="serv-ice">
          <a class="btn btn-lg" href="#about-us" role="button">Sobre</a>
        </div>
      </div>


      <div class="col-md-4">
        <div class="awesome">
          <i class="fa fa-comment fa-4x"></i>
        </div>
        <h3><strong>Dúvidas</strong></h3>
        <p><strong>Qualquer dúvida, crítica ou sugestão, entre em contato conosco clicando no link abaixo.</strong>
        </p>
        <div class="serv-ice">
          <a class="btn btn-lg" href="#contato" role="button">Contato</a>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
</div>
  </div>

     <div class="ourreal-customers">
       <div class="container">
         <div class="row">
           
           <div class="col-md-8 col-md-offset-2">
             <h2 class="real-h2">Veja quem adotou</h2>
           </div>
           
           <div class="col-md-4">
             <div class="shield">
               <img class="prove img-responsive img-circle" src="https://raymondhw.github.io/images/familyreview.jpg">
               <h3>Ricardo</h3>
               <p>"Eu e minha familia sempre sonhamos em ter um cachorro, mas nunca soubemos qual queriamos até encontrar esse site"</p>
             </div>
           </div>
           
            
           <div class="col-md-4">
               <div class="shield">
               <img class="prove img-responsive img-circle" src="https://raymondhw.github.io/images/familyreviewtwo.jpg">
               <h3>Katia Harume</h3>
               <p>"Antes de conhecer o Max, eu sempre me sentia sozinha em casa. Graças ao site hoje eu vejo que ele é o meu melhor amigo"</p>
             </div>
           </div>
           
            
           <div class="col-md-4">
               <div class="shield">
               <img class="prove img-responsive img-circle" src="https://raymondhw.github.io/images/familyreview.jpg">
               <h3>Ronaldo</h3>
               <p>"Sempre gostei de cachorros, mas nunca soube qual adotar, quando entrei no site e vi a proposta fiquei impressionado."</p>
             </div>
           </div>
           
           
         </div>
       </div>
</div>


  <div class="contact-us" id="contato">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="contact-head text-center">Contato</h2>
          <h4 class="contact-p text-center">Entre em contato conosco preenchendo o formulário abaixo.</h4>

        </div>
        <div class="col-md-8 col-md-offset-2">
          <form>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="firstname">Nome</label>
                  <input id="firstname" type="text" class="form-control">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="lastname">Sobrenome</label>
                  <input id="lastname" type="text" class="form-control">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input id="email" type="text" class="form-control">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="subject">Assunto</label>
                  <input id="subject" type="text" class="form-control">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="message">Mensagem</label>
                  <textarea id="message" class="form-control input-lg"></textarea>
                </div>
              </div>
              <div class="col-sm-12 text-center">
                <div class="formsend">
                  <button type="submit" class="btn btn-block"> Enviar</button>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

